@keyframes cloud {
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(-8px);}
    100%{transform: translateY(0px);}
}
@keyframes star {
    50%{filter: brightness(2);
        opacity: 1;}
    100%{
        filter: brightness(1);
        opacity: 0.5;
    }
}

@keyframes rocket1 {
    100%{
        transform: rotate(-360deg) translate(15vw,5vw);
    }
}
@keyframes rocket2 {
    100%{
        transform: rotate(360deg) translate(-18vw, 2vw);
    }
}


/* MOBILE VIEW CSS */
@keyframes rocket1m {
    100%{
        transform: rotate(-360deg) translate(40vw,6vw);
    }
}
@keyframes rocket2m {
    100%{
        transform: rotate(360deg) translate(-50vw, 5vw);
    }
}


@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate1 {
    100%{
        transform: rotate(-360deg);
    }
}